body {
	margin: 0; 
	font-family: 'Montserrat', sans-serif; /* Определяем шрифт для всей странички*/
	font-size: 15px; /* устанавливает размер шрифта на странице*/
	line-height: 1.6; /* устанавливает межстрочный интервал */
	color: #000; /* устанавливает цвет текста */
}
*,
*:before,
*:after {	
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
margin: 0; /* убираем стандартные отступы для заголовков*/
}

.page { /* .page определяет класс элемента к которому будет приминены стили, в нашем случае такой класс задан элементу body */
	overflow-x: hidden; /* прячем контент который выходит за пределы экрана*/
	background: linear-gradient(112.89deg, #F5CE69 13.1%, #DC9E00 97.71%); /* устанавливаем фон для страницы, копируем правило из figma*/
	min-width: 100vw; /* растягиваем фон на всю ширину страницы*/
}

.container {
	width: 1180px; /* устанавливаем ширину блока содержащего контент*/
	margin: 0 auto; /* выравниваем его по центру страницы*/
	display: flex;
	flex-direction: column;
	min-height: 100vh /* минимальная высота 100% экрана пользователя*/;
}

/* Стили для шапки сайта*/
.header {
	margin-top: 22px; /* margin-top означает отступ элемента сверху*/
	display: flex; /* свойство display: flex разместит элементы внутри родительского блока рядом друг с другом*/
	justify-content: space-between; /* разместит элементы по краям*/
}

.header-logo {
	display: flex; /* свойство display: flex разместит элементы внутри родительского блока рядом друг с другом*/
	align-items: center; /* выравниваем элементы по центру*/
	text-decoration: none; /* Убираем подчеркивание для элемента-ссылки*/
} 

.header-title {
	font-size: 36px; /* устанавливает размер шрифта*/
	line-height: 43px; /* устанавливает межстрочный интервал*/
	font-weight: 900; /* устанавливает насыщенность шрифта*/
	margin-left: 19px; /* устанавливает отступ элемента слева*/
	text-decoration: none;
	color: #000;
}

.header-values {
	display: flex;
	align-items: center;
}

.header-value {
	display: flex;
	font-size: 16px;
	line-height: 19px; 
	font-weight: 500;
	margin-right: 36px; /* устанавливает отступ элемента справа*/
}
.header-value a{
	text-decoration: none;
	font-size: 16px;
	line-height: 19px; 
	font-weight: 500;
	color: #000;
}
.header-value:last-child { /* выбираем элемент с классом header-value, который является последним*/
	margin-right: 0; /* убираем отступ справа*/
}

.header-value-bold {
	position: relative;
	font-weight: 600;
}

.header-value-bold::after {
	position: absolute; /* позволяет сдвинуть элемент относительно родительского с position:relative*/
	content: "";
	width: 95%; /* устанавливает ширину элемента*/
	height: 1px; /* устанавливает высоту элемента*/
	background-color: #000; /* устанавливает цвет фона элемента*/
	bottom: -10px; /* сдвигает элемент вниз*/
}

.header-user {
	display: flex;
	align-items: center;
}

.header-name {
	margin-left: 17px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}

.header-subtitle {
	max-width: 550px;
	align-self: center;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	padding: 8px 0;
	border-bottom: 1px solid #000;
}
/* Стили для главной страницы*/
.main-content {
	margin-top: 73px;
	display: flex;
}

.main-info {
	max-width: 448px; /*устанавливаем максимальную ширину элемента*/
}

.main-title {
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
}

.main-text {
	margin-top: 30px;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

.main-links {
	align-self: flex-end; /* прижимаем элементы к низу блока*/
	margin-left: 45px;
}

.main-link {
	box-sizing: border-box;
	display: inline-block;
	margin-right: 89px;
	width: 292px;
	color: #ffffff;
	text-align: center; /* выравниваем текст по середине*/
	border-radius: 65px; /* закругляем рамки элемента*/
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none; /* убираем стандартное выделение ссылок*/
	background-color: #9E06FB; /* задаем цвет фона*/
	padding: 19px; /* устанавливаем внутренние отступы, от текста до внутренней границы*/
}

.main-link:hover { /* hover определяет стили которые будут применяться при навежении курсора */
	box-shadow: 0px 9px 35px #3706FB; /* устанавливаем тень для элемента*/
}

.main-link-red {
	background-color: #FE2249; /* задаем цвет фона*/
}

.main-link-red:hover { /* hover определяет стили которые будут применяться при навежении курсора */
	box-shadow: 0px 9px 35px #FE2249; /* устанавливаем тень для элемента*/
}

.main-link:last-child { /* выбираем элемент с классом header-value, который является последним*/
	margin-right: 0; /* убираем отступ справа*/
}

.footer {
	max-width: 100%;
}

.footer img{
	max-width: 100%;
}

.footer-img {
	margin-top: 170px;
}

/* Стили для страницы входа */

.login-title {
	margin-top: 75px;
	text-align: center;
	font-weight: 500;
	font-size: 48px;
	line-height: 59px;
}

.login-form {
	margin-top: 47px;
	text-align: center;
	margin-right: 100px;
}

.login-item {
	display: flex;
	justify-content: center; /*расположит контент по ценру страницы*/
	align-items: center;
	margin-bottom: 28px; /* добавим отступ внизу*/
}
.login-label {
	width: 100px;
	margin-right: 14px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}
.login-input {
	height: 42px;
	width: 370px;
	padding: 5px; /* устанавливаем внутренние отсступы, что б текст не прилипал к границам*/
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	border: 2px solid #fff;
}
.login-input:focus-visible {
	outline: none; /* убираем рамку когдапользователь кликает на поле ввода */
}
.login-btn {
	display: inline-block;
	text-decoration: none;
	margin-top: 19px;
	margin-left: 100px;
	cursor: pointer; /* изменим курсор пользователя при наведении на элемент*/
	border: none; /* убираем стандартные рамки для кнопки*/
	width: 292px;
	color: #ffffff;
	text-align: center; 
	border-radius: 65px; 
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	box-shadow: 0px 9px 35px #FE2249; 
	background-color: #FE2249; 
	transition: 0.3s ease-in-out; /* свойство транзишен задает плавной перехода при смене стиля, что при нведении тень убиралась не моментально а спустя заданный промежуток времени*/
	padding: 19px; 
}
.login-btn:hover { 
	box-shadow: none;
}

/* Страница меню пользователя */
.menu {
	margin-top: 30vh; /* отступ сверху в 30 % от высоты экрана пользователя*/
	display: flex;
	justify-content: center;
}

.menu-link {
	display: inline-block;
	margin-right: 160px;
	cursor: pointer; /* изменим курсор пользователя при наведении на элемент*/
	border: none; /* убираем стандартные рамки для кнопки*/
	width: 292px;
	color: #ffffff;
	text-align: center; 
	border-radius: 65px; 
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	box-shadow: 0px 9px 35px #FE2249; 
	background-color: #FE2249; 
	transition: 0.3s ease-in-out;
	padding: 19px; 
	text-decoration: none;
}

.menu-link:hover {
	box-shadow: none;
}

/* Страница поиска */
.main-search {
	max-width: 80%;
	margin: 0 auto;
}

.search-title {
	margin-top: 16px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 28px;
}

.search-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.search-label {
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
}

.search-text {
	margin-top: 34px;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	text-align: left;
}

.search-text-small {
	font-size: 16px;
	margin: 0 3px 0 5px;
}

.search-block-date {
	margin-right: auto;
}

.search-input {
	display: inline-block;
	height: 30px;
	width: 303px;
	max-width: 100%;
	padding: 5px; /* устанавливаем внутренние отсступы, что б текст не прилипал к границам*/
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	border: 2px solid #fff;
}
.search-input:focus-visible {
	outline: none; /* убираем рамку когдапользователь кликает на поле ввода */
}

.search-input-short {
	width: 60px;
	margin-top: 26px;
}

.search-checkboxs {
	display: flex;
	flex-direction: column;
	margin-top: 42px;
	flex: 0 -1 18%;
	margin-left: 60px;
}

.search-checkbox {
	display: inline-block;
	width: 24px;
	height: 24px;
}

.search-checkbox + label{
	display: inline-block;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	vertical-align: text-bottom;
}

.search-checkbox.error{
	outline: 2px solid #FE2249;
}


.search-btn {
	display: block;
	margin: 42px auto 20px;
	cursor: pointer; /* изменим курсор пользователя при наведении на элемент*/
	border: none; /* убираем стандартные рамки для кнопки*/
	width: 292px;
	color: #ffffff;
	text-align: center; 
	border-radius: 65px; 
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	box-shadow: 0px 9px 35px #FE2249; 
	background-color: #FE2249; 
	padding: 19px; 
	text-decoration: none;
	transition: 0.3s ease-in-out;
}

.search-btn:hover { 
	box-shadow: none;
}

.search-block-bit {
	flex: 1 0;
}

.search-pay {
	margin-top: 17px;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	margin-right: 108px;
}

.search-bit {
	margin-top: 24px;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}

.search-text-bit {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	width: 121px;
	margin-right: 10px;
}

.search-input-bit {
	width: 88px;
	height: 30px;
}

/* Страница результатов поиска*/
.main-list {
	display: flex;
	flex-direction: column; /* отображение элементом по вертикали*/
	flex: 1 1 auto;
	height: 100%;
}
.list-title {
	text-align: center;
	margin-top: 25px;
	font-weight: 500;
	font-size: 36px;
	line-height: 28px;
}


.list-table {
	margin-top: 25px;
	border: 1px solid #E5E5E5;
	flex: 1 0 auto;
}

.list-row {
	padding: 10px 0;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid #E5E5E5;
}

.list-item {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}

.list-item-small {
	font-weight: 400;
	font-size: 13px;
	line-height: 28px;
}
.list-item img {
	cursor: pointer;
}


.list-item:nth-child(1) { /* селектор nth-child выбирает элемент по положению внутри родительского блока*/
	padding-left: 10px;
	width: 30%;
}
.list-item:nth-child(2) { /* селектор nth-child выбирает элемент по положению внутри родительского блока*/
	width: 20%;
}
.list-item:nth-child(3) { /* селектор nth-child выбирает элемент по положению внутри родительского блока*/
	width: 20%;
}
.list-item:nth-child(4) { /* селектор nth-child выбирает элемент по положению внутри родительского блока*/
	width: 20%;
}
.list-item:nth-child(5) { /* селектор nth-child выбирает элемент по положению внутри родительского блока*/
	width: 8%;
}
.list-item:nth-child(6) { /* селектор nth-child выбирает элемент по положению внутри родительского блока*/
	width: auto;
	padding-right: 10px;
}

.list-btn {
	display: block;
	margin-top: 20px; /* прижимаем элемент к низу блока*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 69px;
	cursor: pointer; /* изменим курсор пользователя при наведении на элемент*/
	border: none; /* убираем стандартные рамки для кнопки*/
	width: 292px;
	max-height: 68px;
	color: #ffffff;
	text-align: center; 
	border-radius: 65px; 
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	box-shadow: 0px 9px 35px #FE2249; 
	background-color: #FE2249; 
	transition: 0.3s ease-in-out;
	padding: 19px; 
	text-decoration: none;
}

.list-btn:hover { 
	box-shadow: none;
}

/* Стили для регистрации нового участника */
.main-registration {
	margin-top: 87px;
	max-width: 556px;
	margin-left: auto; /* автоматически определяемые отступы с обеих сторон нужны для того что б элемент оказался посередине*/
	margin-right: auto;
}

.registration-item {
	display: flex;
	align-items: center;
	margin-top: 29px;
}

.registration-item:first-of-type {
	margin-top: 0;
}
.registration-label {
	width: 153px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	margin-right: 32px;
	text-align: center;
}

.registration-radio {  /* прячем данный элемент поскольку вместо него будет использовать закрепленный за ним label */
	opacity: 0;
	position: absolute;
	z-index: -1; /*прячем элемент под страницу, что б пользователь не мог с ним взаимодействовать*/
}

.registration-radio + label { /* селектор + указывает на соседний элемент*/
	position: relative;
	padding-left: 36px; /* отступ слева для псевдоэлемента*/
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	display: block;
	margin-bottom: 24px;
}

.registration-radio + label:last-child { /* селектор last-child указывает на последний элемент в блоке*/
	margin-bottom: 0;
}


.registration-radio + label::before {
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;
	background: #E5E5E5;
	left: 0;
	top: -4px;
}

.registration-radio:checked + label::before  { /* селектор checked указывает на выбранный элемент radio*/
	background: url(../images/check.png) center no-repeat; /* для выбранного чека ставим фон в виде галочки*/
	background-size: contain;/* устанавливаем размер заднего фона в виде галки, который не будет больше элемента*/
}

.registration-input {
	display: inline-block;
	height: 42px;
	width: 370px;
	padding: 5px; /* устанавливаем внутренние отсступы, что б текст не прилипал к границам*/
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	background: #E5E5E5;
	border: 2px solid #E5E5E5;
}
.registration-input:focus-visible {
	outline: none; /* убираем рамку когдапользователь кликает на поле ввода */
}

.registration-input-short {
	max-width: 114px;
	margin-right: 14px;
}

.registration-tel {
	position: relative;
}

.registration-tel::after {
	position: absolute;
	content: "";
	width: 36px;
	height: 36px;
	background: url(../images/rus.svg) center no-repeat;
	background-size: contain;
	left: 15px;
	top: 2px;
}

.registration-input-tel {
	padding-left: 63px;
}

.registration-btn {
	display: block;
	margin-top: 74px; 
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	border: none;
	width: 292px;
	max-height: 68px;
	color: #ffffff;
	text-align: center; 
	border-radius: 65px; 
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	box-shadow: 0px 9px 35px #FE2249; 
	background-color: #FE2249; 
	transition: 0.3s ease-in-out;
	padding: 19px; 
	text-decoration: none;
}

.registration-btn:hover { 
	box-shadow: none;
}

/* Страница регистрации */
.owner-title {
	max-width: 75%;
	margin: 30px auto 0;
	margin-bottom: 10vh;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
}

.owner-label {
	margin-bottom: 3px;
}


.owner-select {
	background: none;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

.owner-select:focus-visible {
	background: none;
	border: none;
	outline: none;
}

.owner-btn {
	margin-top: 0;
}

.input-file {
	font-size: 0;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.input-file + label {
	cursor: pointer;
	display: block;
	background: #3322FE;
	box-shadow: 0px 9px 35px #3322FE;
	transition: 0.3s ease-in-out;
	border-radius: 65px;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	padding: 19px 36px;
}

.input-file + label:hover {
	box-shadow: none;
}


/* Страница регистрации грузоперевозчика*/

.carrier-form {
	margin-top: 20px;
	margin-bottom: 50px;
}

.carrier-title {
	margin-bottom: 40px;
	margin-left: 0;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	max-width: 50%;
}

.carrier-form .registration-label {
	text-align: left;
	min-width: 160px;
}


.carrier-form .registration-radio + label {
	margin-bottom: 0;
	margin-right: 40px;
}

/* Страница добавления транспортного средства */

.transport-form {
	margin-top: 20px;
	margin-bottom: 50px;
}

.transport-title {
	margin-bottom: 40px;
	margin-left: 0;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	max-width: 75%;
}

.transport-form .registration-label {
	text-align: center;
	min-width: 225px;
}

.transport-select {
	width: 370px;
	border: 2px solid #E5E5E5;
	background: #E5E5E5;
	height: 42px;
}

.transport-select:focus-visible {
	outline: none;
}

/* Страница добавления груза */

.main-add {
	margin-top: 20px;
	margin-bottom: 50px;
}

.main-add .search-label {
	margin-top: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	text-align: left;
}


.main-add .search-text {
	margin-top: 10px;
}	

.main-add .search-row {
	justify-content: flex-start;
}

.main-add .search-checkboxs {
	margin-top: 20px;
	margin-left: 69px;
}

.main-add .search-block:first-child {
	flex: 0 1 18%;
}


.main-add .search-block:not(:first-child) {
	margin-left: 69px;
}

.main-add .search-block-short {
	display: inline-block;
}

.main-add .search-input {
	width: 202px;
}

.main-add .search-input-bit {
	width: 88px;
}

.error { /* класс который обавляет js при ошибке ввода в поля*/
	border-color: #FE2249; /* сделаем цвет рамки красным */
}

.error + label::before { /* селектор last-child указывает на последний элемент в блоке*/
	border: 2px solid #FE2249;
}


@media (max-width: 1230px) { /* Запросы типа @media нужны для того что б узнать информацию у устройстве пользователя, в данном случа мы узнаем ширину экрана и если она меньше заданного значения применяем стили описанные внутри*/
	.container {
		width: 890px; /* устанавливаем ширину блока содержащего контент*/
	}
	.main-link {
		margin-bottom: 10px;
	}
	.header-title {
		font-size: 24px;
		margin-left: 15px;
	}
	.header-avatar {
		max-width: 45px;
		margin-left: 10px;
	}
	.header-avatar img{
		max-width: 100%;
	}
	.header-name {
		font-size: 18px;
	}
	.header-values {
		margin: 0 5px;
	}
	.header-value {
		margin-right: 12px;
	}
	.search-checkboxs {
		margin-left: 0;
		width: 50%;
		text-align: center;
	}
	.main-add .search-checkboxs {
		text-align: left;
		margin-left: 0;
		width: 38%;
	}
}

@media (max-width: 900px) { 
	.container {
		width: 550px; /* устанавливаем ширину блока содержащего контент*/
	}
	.header {
		flex-wrap: wrap;
	}
	.header-values {
		margin-top: 10px;
		order: 3;
	}
	.main-content {
		margin-top: 40px;
		display: block;
	}
	.header-subtitle {
		font-size: 24px;
	}
	.main-info {
		max-width: 100%;
	}
	.main-links {
		margin-left: 0;
		margin-top: 15px;
	}
	.main-link {
		max-width: calc(50% - 15px);
		padding: 12px 14px;
		margin-right: 0;
	}
	.main-link:last-child {
		margin-left: 20px;
	}
	.login-btn {
		padding: 12px 14px;
		font-size: 16px;
	}
	.menu {
		margin-top: 15vh;
		flex-direction: column;
		align-items: center;
	}
	.menu-link {
		margin-right: 0;
		margin-bottom: 25px;
		padding: 12px 14px;
		font-size: 16px;
	}
	.footer-img {
		margin-top: 120px;
	}
	.search-title {
		margin-top: 28px;
		margin-bottom: 15px;
		font-size: 24px;
		line-height: 1.25;
	}
	.search-row {
		justify-content: center;
	}
	.search-checkboxs {
		text-align: left;
		margin-top: 25px;
	}
	.search-pay {
		margin-top: 0;
		margin-right: 10px;
	}
	.search-bit {
		margin-top: 0;
	}
	.search-text-bit {
		margin-right: 0;
		margin-top: 17px;
	}
	.search-btn {
		padding: 12px 14px;
		font-size: 16px;
	}
	.list-title {
		font-size: 28px;
	}
	.list-item {
		font-size: 16px;
		line-height: 1.25;
		margin-bottom: 5px;
		padding-left: 10px;
	}
	.list-item:nth-child(1) {
		padding-left: 10px;
		width: 100%;
	}
	.list-item:nth-child(2) {
		width: 100%;
	}
	.list-item:nth-child(3) { 
		width: 100%;
	}
	.list-item:nth-child(4) { 
		width: 100%;
	}
	.list-item:nth-child(5) { 
		width: 100%;
	}
	.list-item:nth-child(6) { 
		width: 100;
		padding-right: 0;
		margin-bottom: 0;
		padding-left: 0;
	}
	.list-row {
		flex-direction: column;
		align-items: center;
	}
	.list-btn {
		padding: 12px 14px;
		font-size: 16px;
	}
	.main-add .search-block:not(:first-child) {
		width: 100%;
		margin-left: 0;
	}
	.main-add .search-checkboxs {
		width: 100%;
	}
	.main-add .search-block-bit {
		margin-top: 25px;
	}
	.registration-label {
		font-size: 16px;
		line-height: 1.25;
		width: 100px;
		text-align: left;
	}
	.registration-input {
		width: 100%;
	}
	.registration-btn {
		margin-top: 40px;
		padding: 12px 14px;
	}
	.owner-title {
		max-width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 18px;
		line-height: 1.25;
	}
	.registration-item {
		flex-wrap: wrap;
	}
	.input-file + label {
		margin-top: 15px;
		flex: 1 0 auto;
		text-align: center;
		padding: 12px 14px;
	}
	.carrier-title {
		max-width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 18px;
		line-height: 1.25;
	}
	.transport-title {
		max-width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 18px;
		line-height: 1.25;
	}
	.transport-form .registration-label {
		width: 100%;
		text-align: left;
	}
	.registration-input-short {
		width: 86px;
	}
}

@media (max-width: 575px) { 
	.container {
		width: 300px; /* устанавливаем ширину блока содержащего контент*/
	}
	.header-title {
		font-size: 24px;
		line-height: 1.2;
		margin-left: 12px;
	}
	.header-logo img{
		width: 50px;
	}
	.header-values {
		flex-direction: row-reverse;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		row-gap: 10px;
		column-gap: 10px;
	}
	.header-value-bold::after {
		bottom: -3px;
	}
	.header-avatar {
		margin-left: 0;
	}
	.header-name {
		display: none;
	}
	.header-subtitle {
		font-size: 18px;
		line-height: 1.25;
	}
	.main-title {
		font-size: 24px;
		line-height: 1.2;
		text-align: center;
	}
	.main-text {
		margin-top: 15px;
		font-size: 18px;
		line-height: 1.2;
		text-align: left;
	}
	.main-link {
		font-size: 16px;
		padding: 10px;
	}
	.main-search {
		max-width: 100%;
	}
	.footer-img {
		margin-top: 30px;
	}
	.login-title {
		font-size: 24px;
		line-height: 1.2;
		margin-top: 40px;
	}
	.login-form {
		margin-top: 20px;
		margin-right: 0;
	}
	.login-item {
		margin-bottom: 15px;
	}
	.login-label {
		font-size: 14px;
	}
	.login-input {
		width: 100%;
	}
	.login-btn {
		font-size: 16px;
		padding: 10px;
		margin-left: 0;
	}
	.search-text {
		margin-top: 20px;
		font-size: 14px;
		line-height: 1.25;
	}
	.search-label {
		font-size: 14px; 
		line-height: 1.25;
	}
	.search-checkboxs {
		width: 100%;
	}
	.search-block-bit {
		flex: 1 0 100%;
	}
	.search-text-bit:last-child {
		margin-right: 0;
		width: auto;
	}
	.list-title {
		font-size: 24px;
	}
	.main-registration {
		margin-top: 30px;
	}
	.registration-item {
		flex-wrap: wrap;
		margin-top: 15px;
	}
	.registration-label {
		width: 100%;
		margin-right: 0;
		text-align: left;
	}
	.registration-radio + label {
		margin-bottom: 0;
		margin-top: 18px;
	}
	.registration-btn {
		font-size: 16px;
		margin-top: 40px;
	}
}